.statsDetails {
    display: flex;
    width: 100%;
    .statsDetailsContainer {
        flex: 6;

        .charts {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            padding: 5px 20px;
        }
    }
}