.featured {
    flex: 2;
    -webkit-box-shadow: -3px 3px 7px 0px rgba(166, 142, 253, 0.75); 
    box-shadow: -3px 3px 7px 0px rgba(185, 169, 241, 0.75);
    padding: 25px;
    border-radius: 10px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;

        .title {
            font-weight: 500;
            color: gray;
            font-size: 18px;
        }
    }
    
    .bottom {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredChart {
            padding-top: 30px;
            width: 150px;
            height: auto;
        }

        .title {
            font-weight: 500;
            color: gray;
        }

        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        .summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 14;
                    color: gray;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    font-size: 18px;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }
            }
        }
    }
} 